@media ( max-width: 768px) {
    .container {
        width: 90%;
    }

    .hero {
    }

    .header-nav {
        display: none;
    }

    .hero-title {
        margin: 30px;
    }

    .hero-drone img {
        width: 400px;
        margin-right: 150px;
    }

    .drone img {
        width: 300px;
        margin-right: 50px;
    }

    .drone-title {
        top: 150px;
        right: 180px
    }

    .drone-title h1 {
        position: absolute;
        font-size: 10px;
    }

    .drone-title p {
        font-size: 12px;
    }

    .drone-title span {
        font-size: 10px;
    }

    .labels label {
        display: flex;
        font-size: 30px;

    }

    .cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 2px;
    }

    .hero-title h1 {
        font-weight: 600;
        font-size: 10px;
        line-height: 20px;
        color: #2A2D46;
    }

    .hero-title p {
        font-weight: 400;
        font-size: 11px;
        line-height: 18px;
        color: #2A2D46;
        padding: 20px 0;
    }


    .hero-title button {
        width: 152px;
        height: 38px;
        background: #EB2D66;
        box-shadow: 0 7px 35px rgb(235 45 102 / 35%);
        font-weight: 900;
        font-size: 11px;
        color: #FFFFFF;
        border: none;
    }

    .labels label {
        font-size: 13px;
    }

    .catalog {
        flex-wrap: wrap;
    }

    .product-text {
        font-size: 10px;
    }

    .product-title {
        font-size: 15px;
    }

    .product-title img {

    }

    .product-title p {
        font-size: 10px;
    }

    #footer {
        width: 720px;
    }

    .footer-title img {
        top: 100px;
    }

    .footer-nav {
        width: 500px;

    }

    .footer-nav a {
        font-weight: 100;
        font-size: 8px;
        left: -200px;
    }

    .footer-nav a {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-nav button {
        width: 100px;
    }


}
@media ( max-width: 415px) {
    .container {
        width: 90%;
    }

    .header-shop a {
        font-size: 18px;
        color: #EB2D66;
        margin: 0 10px;
    }

    .header img {
        width: 100px;
    }

    .header-shop select {
        font-weight: 700;
        font-size: 9px;
        color: #2A2D46;
        outline: none;
        border: none;
    }

    .header-shop {
        margin-right: 50px;
    }

    .card {
        font-weight: 400;
        font-size: 20px;
        color: #2A2D46;

    }


    .hero {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .hero-title h1 {


    }

    .drone-title p {
        font-size: 7px;


    }

    .hero-title {
        margin-right: 220px;
    }

    .hero-drone img {
        width: 340px;
        margin-right: 100px;
    }

    .drone img {
        width: 150px;
        margin-right: 15px;
        top: 100px;
    }


    .hero-title button {
        width: 132px;
        height: 21px;
        background: #EB2D66;
        box-shadow: 0 7px 35px rgb(235 45 102 / 35%);
        font-weight: 300;
        font-size: 6px;
        color: #FFFFFF;
        border: none;
    }

    .block h1 {
        font-weight: 400;
        font-size: 8px;
        color: #2A2D46;
        margin-right: 70px;
    }

    .labels {
        display: flex;
        align-items: center;
        padding: 50px 0;
        overflow-x: scroll;
    }

    .labels label {
        font-size: 10px;
    }

    .catalog img {
        flex-direction: column;


    }
    .catalog img {
        width: 449px;
        flex-direction: column;
        margin-left: -66px;
    }
    .footer-title {
        flex-direction: column;
    }

    .footer-nav {
        flex-direction: column;
    }

    .product-end {
        flex-wrap: wrap;
    }

    #footer {
        width: 100%;
    }

    .catalog-title h1 {
        font-weight: 300;
        font-size: 27px;
        line-height: 121.4%;
        color: #FFFFFF;
        display: none;

    }

    .catalog-title p {
        font-weight: 200;
        font-size: 16px;
        color: #FFFFFF;
        display: none;
    }

    .footer-nav button {
        width: 130px;
        height: 30px;
        /* left: 1255px; */
        /* top: 3625px; */
        background: #343A62;
        border: 1px solid #EB2D66;
        font-weight: 100;
        font-size: 9px;
        line-height: 5px;
        text-align: center;
        color: #EB2D66;
        margin-top: 10px;

    }
    .footer-nav a{
        padding-top: 3px;
    }
    .product-end h1{
        margin: 0;
        padding: 10px;
        outline: none;
        font-size: 18px;
    }
    .product-end {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        margin-left: -200px;
    }
    .product-end p{
        font-size: 10px;
    }
    .footer-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 850px;
        padding: 22px 0;
    }
    .figur3 {
        position: absolute;
        bottom: 119px;
        left: 13px;
        clip-path: polygon(20% 0%, 100% 0, 100% 20%, 100% 100%, 80% 100%, 0 100%, 0% 80%, 1% 0);
        width: 17px;
        height: 17px;
        background: white;
    }
    .figur1 {
        position: absolute;
        bottom: 103px;
        left: 4px;
        clip-path: polygon(20% 0%, 100% 0, 100% 20%, 100% 100%, 80% 100%, 0 100%, 0% 80%, 1% 0);
        width: 17px;
        height: 17px;
        background: white;
    }
    .catalog-title h1 {
        position: absolute;
        font-weight: 100;
        font-size: 11px;
        line-height: 121.4%;
        color: #FFFFFF;
        padding: 2px 0;
    }

}
@media ( max-width: 401px) {
    .container {
        width: 90%;
    }

    .header-shop a {
        font-size: 18px;
        color: #EB2D66;
        margin: 0 10px;
    }

    .header img {
        width: 100px;
    }

    .header-shop select {
        font-weight: 700;
        font-size: 9px;
        color: #2A2D46;
        outline: none;
        border: none;
    }

    .header-shop {
        margin-right: 50px;
    }

    .card {
        font-weight: 400;
        font-size: 20px;
        color: #2A2D46;

    }


    .hero {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .hero-title h1 {


    }

    .drone-title p {
        font-size: 7px;


    }

    .hero-title {
        margin-right: 220px;
    }

    .hero-drone img {
        width: 340px;
        margin-right: 100px;
    }

    .drone img {
        width: 150px;
        margin-right: 15px;
        top: 100px;
    }


    .hero-title button {
        width: 132px;
        height: 21px;
        background: #EB2D66;
        box-shadow: 0 7px 35px rgb(235 45 102 / 35%);
        font-weight: 300;
        font-size: 6px;
        color: #FFFFFF;
        border: none;
    }

    .block h1 {
        font-weight: 400;
        font-size: 8px;
        color: #2A2D46;
        margin-right: 70px;
    }

    .labels {
        display: flex;
        align-items: center;
        padding: 50px 0;
        overflow-x: scroll;
    }

    .labels label {
        font-size: 10px;
    }

    .catalog img {
        flex-direction: column;


    }
    .catalog img {
        width: 449px;
        flex-direction: column;
        margin-left: -66px;
    }
    .footer-title {
        flex-direction: column;
    }

    .footer-nav {
        flex-direction: column;
    }

    .product-end {
        flex-wrap: wrap;
    }

    #footer {
        width: 100%;
    }

    .catalog-title h1 {
        font-weight: 300;
        font-size: 27px;
        line-height: 121.4%;
        color: #FFFFFF;
        display: none;

    }

    .catalog-title p {
        font-weight: 200;
        font-size: 16px;
        color: #FFFFFF;
        display: none;
    }

    .footer-nav button {
        width: 130px;
        height: 30px;
        /* left: 1255px; */
        /* top: 3625px; */
        background: #343A62;
        border: 1px solid #EB2D66;
        font-weight: 100;
        font-size: 9px;
        line-height: 5px;
        text-align: center;
        color: #EB2D66;
        margin-top: 10px;

    }
    .footer-nav a{
        padding-top: 3px;
    }
    .product-end h1{
        margin: 0;
        padding: 10px;
        outline: none;
        font-size: 18px;
    }
    .product-end {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        margin-left: -200px;
    }
    .product-end p{
        font-size: 10px;
    }
    .footer-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 850px;
        padding: 22px 0;
    }
    .figur3 {
        position: absolute;
        bottom: 119px;
        left: 13px;
        clip-path: polygon(20% 0%, 100% 0, 100% 20%, 100% 100%, 80% 100%, 0 100%, 0% 80%, 1% 0);
        width: 17px;
        height: 17px;
        background: white;
    }
    .figur1 {
        position: absolute;
        bottom: 103px;
        left: 4px;
        clip-path: polygon(20% 0%, 100% 0, 100% 20%, 100% 100%, 80% 100%, 0 100%, 0% 80%, 1% 0);
        width: 17px;
        height: 17px;
        background: white;
    }
    .catalog-title h1 {
        position: absolute;
        font-weight: 100;
        font-size: 11px;
        line-height: 121.4%;
        color: #FFFFFF;
        padding: 2px 0;
    }

}
@media ( max-width: 320px) {
    .container {
        width: 90%;
    }

    .header-shop a {
        font-size: 18px;
        color: #EB2D66;
        margin: 0 10px;
    }

    .header img {
        width: 100px;
    }

    .header-shop select {
        font-weight: 700;
        font-size: 9px;
        color: #2A2D46;
        outline: none;
        border: none;
    }

    .header-shop {
        margin-right: 50px;
    }

    .card {
        font-weight: 400;
        font-size: 20px;
        color: #2A2D46;
        margin-right: 70px;
    }


    .hero {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .hero-title h1 {


    }

    .drone-title p {
        font-size: 7px;


    }

    .hero-title {
        margin-right: 220px;
    }

    .hero-drone img {
        width: 340px;
        margin-right: 100px;
    }

    .drone img {
        width: 150px;
        margin-right: 15px;
        top: 100px;
    }


    .hero-title button {
        width: 132px;
        height: 21px;
        background: #EB2D66;
        box-shadow: 0 7px 35px rgb(235 45 102 / 35%);
        font-weight: 300;
        font-size: 6px;
        color: #FFFFFF;
        border: none;
    }

    .block h1 {
        font-weight: 400;
        font-size: 8px;
        color: #2A2D46;
        margin-right: 70px;
    }

    .labels {
        display: flex;
        align-items: center;
        padding: 50px 0;
        overflow-x: scroll;
    }

    .labels label {
        font-size: 10px;
    }

    .catalog img {
        flex-direction: column;


    }

    .catalog-left img {
        width: 500px;
        margin-left: -100px;
    }

    .catalog-right img {
        width: 200px;
        margin-left:-100px ;
    }

    .footer-title {
        flex-direction: column;
    }

    .footer-nav {
        flex-direction: column;
    }

    .product-end {
        flex-wrap: wrap;
    }

    #footer {
        width: 100%;
    }

    .catalog-title h1 {
        font-weight: 300;
        font-size: 27px;
        line-height: 121.4%;
        color: #FFFFFF;
        display: none;

    }

    .catalog-title p {
        font-weight: 200;
        font-size: 16px;
        color: #FFFFFF;
        display: none;
    }

    .footer-nav button {
        width: 130px;
        height: 30px;
        /* left: 1255px; */
        /* top: 3625px; */
        background: #343A62;
        border: 1px solid #EB2D66;
        font-weight: 100;
        font-size: 9px;
        line-height: 5px;
        text-align: center;
        color: #EB2D66;
        margin-top: 10px;

    }
       .footer-nav a{
           padding-top: 3px;
       }


}
@media ( max-width: 327px) {
    .container {
        width: 90%;
    }

    .header-shop a {
        font-size: 18px;
        color: #EB2D66;
        margin: 0 10px;
    }

    .header img {
        width: 100px;
    }

    .header-shop select {
        font-weight: 700;
        font-size: 9px;
        color: #2A2D46;
        outline: none;
        border: none;
    }

    .header-shop {
        margin-right: 50px;
    }

    .card {
        font-weight: 400;
        font-size: 20px;
        color: #2A2D46;
        margin-right: 70px;
    }


    .hero {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .hero-title h1 {


    }

    .drone-title p {
        font-size: 7px;


    }

    .hero-title {
        margin-right: 220px;
    }

    .hero-drone img {
        width: 340px;
        margin-right: 100px;
    }

    .drone img {
        width: 150px;
        margin-right: 15px;
        top: 100px;
    }


    .hero-title button {
        width: 132px;
        height: 21px;
        background: #EB2D66;
        box-shadow: 0 7px 35px rgb(235 45 102 / 35%);
        font-weight: 300;
        font-size: 6px;
        color: #FFFFFF;
        border: none;
    }

    .block h1 {
        font-weight: 400;
        font-size: 8px;
        color: #2A2D46;
        margin-right: 70px;
    }

    .labels {
        display: flex;
        align-items: center;
        padding: 50px 0;
        overflow-x: scroll;
    }

    .labels label {
        font-size: 10px;
    }

    .catalog img {
        flex-direction: column;


    }

    .catalog-left img {
        width: 500px;
        margin-left: -100px;
    }

    .catalog-right img {
        width: 412px;
        margin-left: -100px;
    }

    .footer-title {
        flex-direction: column;
    }

    .footer-nav {
        flex-direction: column;
    }

    .product-end {
        flex-wrap: wrap;
    }

    #footer {
        width: 100%;
    }

    .catalog-title h1 {
        font-weight: 300;
        font-size: 27px;
        line-height: 121.4%;
        color: #FFFFFF;
        display: none;

    }

    .catalog-title p {
        font-weight: 200;
        font-size: 16px;
        color: #FFFFFF;
        display: none;
    }

    .footer-nav button {
        width: 130px;
        height: 30px;
        /* left: 1255px; */
        /* top: 3625px; */
        background: #343A62;
        border: 1px solid #EB2D66;
        font-weight: 100;
        font-size: 9px;
        line-height: 5px;
        text-align: center;
        color: #EB2D66;
        margin-top: 10px;

    }
    .footer-nav a{
        padding-top: 3px;
    }


}
@media ( max-width: 391px) {
    .container {
        width: 90%;
    }

    .header-shop a {
        font-size: 18px;
        color: #EB2D66;
        margin: 0 10px;
    }

    .header img {
        width: 100px;
    }

    .header-shop select {
        font-weight: 700;
        font-size: 9px;
        color: #2A2D46;
        outline: none;
        border: none;
    }

    .header-shop {
        margin-right: 50px;
    }

    .card {
        font-weight: 400;
        font-size: 20px;
        color: #2A2D46;

    }


    .hero {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .hero-title h1 {


    }

    .drone-title p {
        font-size: 7px;


    }

    .hero-title {
        margin-right: 220px;
    }

    .hero-drone img {
        width: 340px;
        margin-right: 100px;
    }

    .drone img {
        width: 150px;
        margin-right: 15px;
        top: 100px;
    }


    .hero-title button {
        width: 132px;
        height: 21px;
        background: #EB2D66;
        box-shadow: 0 7px 35px rgb(235 45 102 / 35%);
        font-weight: 300;
        font-size: 6px;
        color: #FFFFFF;
        border: none;
    }

    .block h1 {
        font-weight: 400;
        font-size: 8px;
        color: #2A2D46;
        margin-right: 70px;
    }

    .labels {
        display: flex;
        align-items: center;
        padding: 50px 0;
        overflow-x: scroll;
    }

    .labels label {
        font-size: 10px;
    }

    .catalog img {
        flex-direction: column;


    }
    .catalog img {
        width: 449px;
        flex-direction: column;
        margin-left: -66px;
    }
    .footer-title {
        flex-direction: column;
    }

    .footer-nav {
        flex-direction: column;
    }

    .product-end {
        flex-wrap: wrap;
    }

    #footer {
        width: 100%;
    }

    .catalog-title h1 {
        font-weight: 300;
        font-size: 27px;
        line-height: 121.4%;
        color: #FFFFFF;
        display: none;

    }

    .catalog-title p {
        font-weight: 200;
        font-size: 16px;
        color: #FFFFFF;
        display: none;
    }

    .footer-nav button {
        width: 130px;
        height: 30px;
        /* left: 1255px; */
        /* top: 3625px; */
        background: #343A62;
        border: 1px solid #EB2D66;
        font-weight: 100;
        font-size: 9px;
        line-height: 5px;
        text-align: center;
        color: #EB2D66;
        margin-top: 10px;

    }
       .footer-nav a{
           padding-top: 3px;
       }
       .product-end h1{
           margin: 0;
           padding: 10px;
           outline: none;
           font-size: 18px;
       }
    .product-end {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        margin-left: -200px;
    }
        .product-end p{
            font-size: 10px;
        }
    .footer-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 850px;
        padding: 22px 0;
    }
    .figur3 {
        position: absolute;
        bottom: 119px;
        left: 13px;
        clip-path: polygon(20% 0%, 100% 0, 100% 20%, 100% 100%, 80% 100%, 0 100%, 0% 80%, 1% 0);
        width: 17px;
        height: 17px;
        background: white;
    }
    .figur1 {
        position: absolute;
        bottom: 103px;
        left: 4px;
        clip-path: polygon(20% 0%, 100% 0, 100% 20%, 100% 100%, 80% 100%, 0 100%, 0% 80%, 1% 0);
        width: 17px;
        height: 17px;
        background: white;
    }
    .catalog-title h1 {
        position: absolute;
        font-weight: 100;
        font-size: 11px;
        line-height: 121.4%;
        color: #FFFFFF;
        padding: 2px 0;
    }

}




